<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="auth_token" value="X3PuDX+D/1fvtzSpjq8iiDWemq5a2mM4RfTZ+lsLFwsCqzrgubg87TeFMoSr1yKZ0HkgMfd8Ss+3+mzjk7ACAA=="/>
    <add key="api" value="https://localhost:4443/"/>
    <add key="module_store" value="store" />
  </appSettings>
</configuration>