<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="dsn=testsystem_lokal"/>
    <add key="auth_token" value="3tMgenFI+iiIkuC96QNJi5NVo9UZP6m3nYvmwe8/ZGp6LZNpZiPk5FvdWWFqAId1k2azcPVPcD7igrhiBIkb2g=="/>
    <add key="api" value="https://localhost:44376/"/>
    <add key="module_store" value="C:\inetpub\wwwroot\ihk\services\store" />
  </appSettings>
</configuration>