/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.modal-content {
    box-shadow: 0 0 3px 3px rgba(255,255,255,0.2);
    background-color: black;
    color: #fff;
}