/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

hr {
    border-top: 2px solid #fff;
}

.form-control, .react-datepicker-component .react-datepicker-input input {
    background-color: black;
    color: #fff;
}

    .form-control:focus {
        background-color: #2b2b2b;
        color: #fff;
    }

    pre{
        color: #fff;
    }

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.modal-content {
    box-shadow: 0 0 3px 3px rgba(255,255,255,0.2);
    background-color: black;
    color: #fff;
}

.table{
    color: white;
}